{% load i18n %}

{% block subject %}
{% blocktrans %}Password Reset on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}
🔒 You're receiving this email because you requested a password reset for your user account at {{ site_name }}. To proceed with resetting your password, please follow the link below:
{% endblocktrans %}

{{ protocol }}://{{ domain }}/{{ url|safe }}

{% trans "If you haven't requested a password reset, no further action is required on your part." %}

{% trans "If you've forgotten your username, it is:" %} {{ username }}

{% trans "Thank you for choosing our platform!" %}

{% blocktrans %}
Best regards,
The {{ site_name }} Team 🌈
{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<br style="background-color: #f5f5f5; padding: 20px;">
  <h2 style="color: #333333;">Password Reset</h2>
  <br style="color: #555555;"></br>
    <p>
        🔒 You're receiving this email because you requested a password reset for your user account at <strong>{{ site_name }}</strong>. 
    </p>
    <p>
        To proceed with resetting your password, please follow the link below:
    </p>
    <br></br>
  <a href="{{ protocol }}://{{ domain }}/{{ url|safe }}" style="margin-top: 20px; background-color: #007bff; color: #ffffff; text-decoration: none; padding: 10px 20px; border-radius: 5px;">
    Reset Password
  </a>
  <p style="color: #555555; margin-top: 20px;">
    If you haven't requested a password reset, no further action is required on your part.
  </p>
  <p style="color: #555555;">
    If you've forgotten your username, it is: <strong>{{ username }}</strong>
  </p>
  <p style="color: #555555;">
    Thank you for spending time on our platform!
  </p>
  <p style="color: #777777;">
    Best regards,<br>
    The {{ site_name }} Team 🌈
  </p>
</div>
{% endblock html_body %}
