{% load i18n %}

{% block subject %}
{% blocktrans %}{{ site_name }} - Your password has been successfully changed!{% endblocktrans %}
{% endblock %}

{% block text_body %}
{% trans "🔒 Your password has been changed!" %}

{% trans "Thank you for using our site. If you did not authorize this change, please contact our support team immediately." %}

{% blocktrans %}
Best regards,
The {{ site_name }} Team 🌈
{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<div style="background-color: #f5f5f5; padding: 20px;">
  <h2 style="color: #333333;">Password Changed</h2>
  <p style="color: #555555;">
    🔒 {{ username }}, Your password has been changed!
  </p>
  <p style="color: #555555;">
    Thank you for using our site. If you did not authorize this change, please contact our support team immediately.
  </p>
  <p style="color: #777777;">
    Best regards,<br>
    The {{ site_name }} Team 🌈
  </p>
</div>
{% endblock html_body %}
